<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.Category">
            <id property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,parent_id,name,
        create_time,description
    </sql>
    <select id="categoryDict" resultType="com.vtube.vo.dictVO">
        SELECT category_id as value,name as label FROM vt_category
    </select>
</mapper>
