<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.DictionaryMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.Dictionary">
            <id property="dictionaryId" column="dictionary_id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        dictionary_id,code,value,
        label
    </sql>
    <select id="selectDictData" resultType="com.vtube.vo.dictVO">
        SELECT label, value
        from vt_dictionary
        WHERE code = #{dict}
    </select>

    <select id="selectDictUserData" resultType="com.vtube.vo.dictVO">
        SELECT nick_name as label, user_id as value
        from vt_user
    </select>
    <select id="DictList" resultType="com.vtube.domain.Dictionary">
        select * from vt_dictionary
    </select>
</mapper>
