<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatarPath" column="avatar_path" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,real_name,
        nick_name,password,phone,
        email,avatar_path,create_time,
        sex,status
    </sql>
    <select id="userLogin" resultType="com.vtube.dto.UserLoginDTO">
        select user_id,
               user_name,
               real_name,
               nick_name,
               phone,
               email,
               avatar_path,
               create_time,
               sex,
               status
        from vt_user
        WHERE user_name = #{userName}
          AND password = #{password}
          and status = 1
    </select>


</mapper>
