<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.VideoEpisodeMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.VideoEpisode">
            <id property="episodeId" column="episode_id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="episodeNumber" column="episode_number" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="videoPath" column="video_path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        episode_id,video_id,episode_number,
        title,video_path
    </sql>
</mapper>
