<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.Video">
            <id property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="videoPath" column="video_path" jdbcType="VARCHAR"/>
            <result property="imagePath" column="image_path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,title,description,
        create_time,video_path,image_path
    </sql>
    <select id="VideoList" resultType="com.vtube.vo.VideoVO">
        SELECT
        v.video_id,
        v.title,
        v.description,
        v.create_time,
        v.video_path,
        v.image_path,
        vd.views,
        vd.likes,
        u.username as userName,
        u.user_id as userId,
        c.category_id,
        c.name as categoryName
        FROM vt_video v
        LEFT JOIN vt_video_data vd ON v.video_id = vd.video_id
        LEFT JOIN vt_user u ON vd.user_id = u.user_id
        LEFT JOIN vt_video_category vc ON v.video_id = vc.video_id
        LEFT JOIN vt_category c ON vc.category_id = c.category_id
        WHERE 1=1
        <if test="video.title != null and video.title != ''">
            AND v.title LIKE concat('%', #{video.title}, '%')
        </if>
        <if test="video.userId != null and video.userId != ''">
            AND u.user_id = #{video.userId}
        </if>
        <if test="video.categoryId != null and video.categoryId != ''">
            AND c.category_id = #{video.categoryId}
        </if>
        ORDER BY v.create_time DESC
    </select>
</mapper>
