<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtube.mapper.VipMapper">

    <resultMap id="BaseResultMap" type="com.vtube.domain.Vip">
            <id property="vipId" column="vip_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="expireDate" column="expire_date" jdbcType="DATE"/>
            <result property="isVip" column="is_vip" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        vip_id,user_id,expire_date,
        is_vip,create_time
    </sql>
</mapper>
