:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: ;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --warning: 35, 100%, 52%;
  --warning-foreground: 0 0% 9%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
  --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, .08);
  --ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, .04);
  --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
  --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, .04), 0px 8px 8px -8px rgba(0, 0, 0, .04);
  --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
  --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, .04), 0px 8px 16px -4px rgba(0, 0, 0, .04);
  --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);
  --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, .02), 0px 4px 8px rgba(0, 0, 0, .04);
  --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, .02), 0px 4px 8px -4px rgba(0, 0, 0, .04), 0px 16px 24px -8px rgba(0, 0, 0, .06);
  --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, .02), 0px 8px 16px -4px rgba(0, 0, 0, .04), 0px 24px 32px -8px rgba(0, 0, 0, .06);
  --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, .02), 0px 8px 16px -4px rgba(0, 0, 0, .04), 0px 24px 32px -8px rgba(0, 0, 0, .06);
}

.bg-primary {
  background-color: hsl(var(--primary));
}

.shadow-app {
  --tw-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 4px 8px 0 rgba(0, 0, 0, .05), 0 16px 32px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0 0 1px 0 var(--tw-shadow-color), 0 4px 8px 0 var(--tw-shadow-color), 0 16px 32px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.bg-card {
  background-color: hsl(var(--card));
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 226, 226, 226;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: 226, 226, 226;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
}

html, body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

* {
  box-sizing: border-box;
}

html, body, #app{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes jumbo {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(100deg,
          #fff 0%,
          #fff 7%,
          transparent 10%,
          transparent 12%,
          #fff 16%);
  --stripesDark: repeating-linear-gradient(100deg,
          #000 0%,
          #000 7%,
          transparent 10%,
          transparent 12%,
          #000 16%);
  --rainbow: repeating-linear-gradient(100deg,
          #60a5fa 10%,
          #e879f9 15%,
          #60a5fa 20%,
          #5eead4 25%,
          #60a5fa 30%);
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) invert(100%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .jumbo {
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}

.dark .jumbo::after {
  background-image: var(--stripesDark), var(--rainbow);
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 226, 226, 226;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: 226, 226, 226;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
}

.bg-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #fd6cc7;
  background: linear-gradient(90deg, #fd6cc7, #e885fa 32%, #fbbcaa);
  border-radius: 14px;
  margin-top: 50px;
  height: 170px;
  position: relative;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes float-reverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px); /* 注意这里是正值，与原动画相反 */
  }
}